{% extends 'main.html' %} 
{% block body %}
  <script>
    let storage = new Map();
    let counter = 0;
    function gatherData() {
      let store = [];
      store.push(document.getElementById("date").value);
      store.push(document.getElementById("expensename").value);
      if(document.getElementById("amount").value > 0) {
        store.push(document.getElementById("amount").value);
      }
      else {
        console.log(document.getElementById("amount").value + " is not a valid expense amount");
      }
      //store.push(document.getElementById("amount").value);
      store.push(document.getElementById("category").value);
      storage.set(counter, store);
      counter++;
      console.log(storage);
    }
  </script>

  <style>
    body {
      background-color: aquamarine;
      /*border: 2px solid aquamarine;*/
      /*padding: 30px;*/
      display: grid;
      flex-wrap: wrap;
      align-content: space-evenly;
      font-size: x-large;
      letter-spacing: 0.05cm;
      font-stretch: condensed;
    }

    div {
      margin: auto;
    }

    h3 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    label {
      font-family: cursive;
    }
    
  </style>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>EXPENSE MANAGER</h3>
          <form action="/addexpense" method="POST">
          <div class="form-group">
            <label for="">Date</label>
            <input type="date" name="date" id="date" />
          </div>
          <div class="form-group">
            <label for="">Expense name</label>
            <input type="text" name="expensename" id="expensename" />
          </div>
          <div class="form-group">
            <label for="">Expense amount</label>
            <input type="text" name="amount" id="amount" />
          </div>
          <div class="form-group">
            <label for="">Expense category</label>
            <select name="category" id="category">
              <option value="food">Food</option>
              <option value="entertainment">Entertainment</option>
              <option value="transportation">Transportation</option>
              <option value="rent">Rent</option>
              <option value="other">Other</option>
            </select>
          </div>
          <input type="submit" value="Add" onclick="gatherData()" />
          <input type="submit" value="Convert" onclick="gatherData()" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
